@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Josefin+Sans:wght@300;400&family=Oswald:wght@300&family=Poppins&display=swap");

body {
  margin: 0;
  background-color: #faebd7;
  font-family: "Josefin Sans", sans-serif;
}
header {
  display: flex;
  align-items: center;
  margin: 10px 30px;
  border-bottom: 1px dashed;
  padding: 10px;
}

.line {
  border-bottom: 1px dashed;
  margin: 10px 0px;
}

nav .liens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin-left: 600px;
}

nav li {
  list-style-type: none;
}

a {
  color: #551a95;
}

a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.banniere {
  background-image: url(banniere.svg);
  height: 200px;
  width: 95%;
  position: relative;
  margin: 0 auto;
}
.container-banniere {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-banniere {
  color: white;
  background-color: #740909;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.text-banniere {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.text {
  width: 60%;
  text-align: justify;
  margin-left: 27px;
}
.side-text {
  width: 100%;
  text-align: justify;
  color: white;
}
.side-part {
  border: 1px solid;
  width: 30%;
  background-color: #8b8a82;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
  height: 350px;
}
#title-author {
  color: white;
}
.side-part i {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
#trophy {
  color: black;
}
.middle-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
footer {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding-left: 30px;
}
.capture img {
  border: 3px solid rgb(67, 67, 156);
}
.name-list {
  color: #942424;
}
